:root {
    --main: #82bbf4;
    --small-contrast: #dbfbff;
    --background: #fcfcfc;
    --text-on-input: #e4faff;
    --placeholder: #82bbf4;
    --full-contrast: #000000;
    --background-contrast: #f4feff;
}

* {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--background) 80%, var(--small-contrast), var(--main) );
    min-width: 500px;
}
header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: var(--main);
    height: 60px;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    min-height: 52px;
    width: 100%;
    gap: 10px;
    background-color: var(--main);
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.theme-picker {
    margin: 0 5px;
    padding: 0 4px;
    border: 1px solid var(--small-contrast);
    border-radius: 6px;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    gap: 20px;
}

.theme-icon {
    height: 20px;
    width: 20px;
    transition: 0.4s ease-in;
    border-radius: 50%;
}

.theme-icon:hover {
    background-color: var(--background-contrast);
}

.small-text {
    color: var(--background);
    font-size: 0.6rem;
}

.user-access {
    color: var(--full-contrast);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.user-access label {
    font-size: 0.8rem;
}

.user-input {
    gap: 4px;
    display: flex;
    align-items: center;
}

#username-input,
#password-input {
    max-width: 30vw;
}

#password {
    gap: 7px;
}

.group-2-logo {
    height: 60px;
    position: relative;
    left: 10px;
}

main {
    min-height: calc(100vh - 60px - 40px);
    padding: 0 10px;
    gap: 10px;
}

/* Page-title */
h1 {
    color: var(--full-contrast);
    font-size: 1.8rem;
    margin: 10px 0 0;
}

/* Instructions */
.main1>p {
    margin: 10px 0 0;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--full-contrast);
}

/* The primary containers in the main section */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 4px;
}

/* The main section divs */
.main1,
.main2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.main1 {
    align-items: center;
}

/* The secondary containers in main section */
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

#current-list-title {
    display: flex;
    color: var(--full-contrast);
    background-color: var(--main);
    border-radius: 6px;
    padding: 4px;
    gap: 10px;
}


#saved-list-container-title {
    align-self: center;
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 90vw;
    width: clamp(200px, calc(1920px - 60vw), 85vw);
    flex-shrink: 0;
    flex-grow: 1;
    border: 2px solid var(--main);
    background-color: var(--background);
    padding: 8px 8px 20px;
    border-radius: 6px;
    gap: 10px;
}

input {
    color: black;
    font-size: 1rem;
}

/* Where user inputs the task to be added to the list */
#task-to-add {
    background: var(--background-contrast);
    width: 75%;
}

#small-instruction {
    font-size: 0.8rem;
    font-style: italic;
    text-align: start;
}

#current-list-name,
#current-list-name:focus {
    color: var(--full-contrast);
    background-color: var(--background);
    outline: none;
    width: 87%;
}

input::placeholder {
    color: var(--placeholder);
    font-size: 0.8rem;
}

/* Buttons */
#save-list-button {
    color: var(--full-contrast);
    background: none;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in;
    background-image: linear-gradient(var(--small-contrast), #666);
}

#save-list-button:hover {
    color: rgb(66, 222, 19);
}

.remove-button,
.add-button,
.edit-button {
    width: 28px;
    height: 22px;
    border: none;
    color: rgb(194, 0, 0);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1rem;
    background: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.remove-icon {
    position: absolute;
    right: 10px;
    width: 12px;
    height: 22px;
    transition: 0.2s ease-in-out;
}

.remove-button:hover,
.add-button:hover {
    text-shadow: 2px 2px 4px var(--main);
}

.remove-icon:hover {
    box-shadow: 1px 1px 1px var(--main);
}

.add-button {
    color: rgb(20, 150, 0);
}

#delete-all-tasks-button,
#delete-all-lists-button {
    font-size: 0.8rem;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    background: none;
    border: none;
    border-bottom-right-radius: 6px;
    color: rgb(85, 0, 0);
    transition: 0.2s ease-in-out;
}

#delete-all-tasks-button:hover,
#delete-all-lists-button:hover {
    box-shadow: 2px 2px 1px -1px var(--main);
    border-right: 1px solid var(--small-contrast);
    border-bottom: 1px solid var(--small-contrast);
}


.saved-list-title {
    cursor: pointer;
}

.saved-list-title:hover,
.list-task:hover {
    font-weight: 700;
}

.list-task {
    word-wrap: break-word;
    position: relative;
    border-bottom: 1px solid var(--background);
    text-decoration-color: green;
}

.list-task::marker {
    color: var(--placeholder);
    font-size: 0.8rem;
}

#saved-lists-container {
    display: flex;
    gap: 0;
}

h2 {
    font-size: 1.2rem;
    padding-top: 10px;
    margin: 0;
}

h3 {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
    padding-top: 2px;
    margin: 0;
}

#list-of-saved-lists {
    list-style-type: none;
    padding-left: 6px;
    max-height: 90px;
    overflow-y: auto;
}

#list-of-saved-lists>li {
    padding: 3px;
    border-bottom: 1px solid var(--background-contrast);

}

footer {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: var(--placeholder);
    justify-content: center;
}

.footer-p {
    margin: 10px 0px 0px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--full-contrast);
    text-align: center;
}

.footer-p>span {
    font-size: 0.8rem;

}

.footer-container {
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

@media screen and (min-width: 510px) {
    .line-break {
        display: none;
    }
}