* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 220, 255);
}

header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: rgb(195, 220, 255)
}

nav {
    display: flex;
    min-height: 40px;
    width: 100%;
    gap: 10px;
    background-color: rgb(195, 220, 255);
    justify-content: center;
}

nav>span {
    text-align: center;
}

.vertical-separator {
    height: 20px;
    width: 1px;
    background-color: rgb(195, 220, 255);
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.group-2-logo {
    height: 80px;
}

/* To apply gradient to our H1 heading: */
h1 {
    color: #4c8ef1;
    font-size: 1.8rem;
    background: -webkit-linear-gradient(45deg, #4c8ef1, #4160b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.nav-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    background-color: rgb(195, 220, 255);
}

.nav-sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.nav-sub-container>a {
    font-size: clamp(0.82rem, 2vw, 1.2rem);
    color: rgb(195, 220, 255);
    font-weight: 700;
    text-decoration: none;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(195, 220, 255);
  margin-left: 50px;
  width: 100%;
  min-height: calc(100vh - 90px);
  text-align: center;
}


.main-image {
  border: 5px solid white;
  width: clamp(350px, calc(80vw - 350px), 1000px);
  max-width: 1000px;
  border-radius: 20px;  
}

.main-p {
    line-height: 25px;
    color: rgb(95, 95, 95);
    padding-bottom: 30px;
}

#image-name {
    color: rgb(55, 109, 225);
    font-size: 1.2rem;
    background: -webkit-linear-gradient(45deg, #4c8ef1, #4160b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  background-color: #333;
}

.footer-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    padding-left: 21%;
}

.container {
    margin: auto auto;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    background-color: #333;
}

label {
    margin-left: 50px;
}

input {
    margin-left: 50px;
}

button {
    margin: 0 50px;
}


/* Menu css */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: rgb(55, 109, 225);
    z-index: 100;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    padding-left: 50px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    display: block;
    padding: 20px;
    color: rgb(195, 220, 255);
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .menu a:hover {
    background-color: rgb(195, 220, 255);
    color: #333;
  }
  
  .menu:hover {
    width: 350px;
  }
  
  .menu:hover a {
    padding: 20px 20px;
  }
  
  .menu:hover a:first-child {
    border-radius: 0 5px 5px 0;
  }
  
  .menu:hover a:last-child {
    border-radius: 5px 0 0 5px;
  }




#mark-to-grade-button{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
  cursor: pointer;
}

#mark-to-grade-button:hover {
    background-color: rgb(217, 171, 54);
    transform: scale(1.2);
    color: black;
}


.button1{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
  cursor: pointer;
}

.button1:hover {
    background-color: rgb(217, 171, 54);
    transform: scale(1.2);
    color: black;
}


.button2{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button2:hover {
    background-color: rgb(217, 171, 54);
    transform: scale(1.2);
    color: black;
}


.button3{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sortBTN1{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 30px;
}

.sortBTN:hover1{
    background-color: rgb(217, 171, 54);
    transform: scale(1.2);
    color: black;
}

.sortBTN2{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0px;
}

#dark-theme{
    background-color: rgb(55, 109, 225);
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0px;
}

#dark-theme:hover {
        background-color: #0f4c81;
        border: none;
        color: #fff;
        padding: 12px 24px;
        font-size: 16px;
      }

      #dark-theme:hover  {
        background-color: #011b40;
        box-shadow: 0px 0px 10px #011b40;
        color: #fff;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }

      #light-theme{
        background-color: rgb(55, 109, 225);
        padding: 10px 20px 10px 20px;
        border-style: none;
        border-radius: 5px;
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
        margin: 0px;
    }
    
    #light-theme:hover {
            background-color: #0f4c81;
            border: none;
            color: #fff;
            padding: 12px 24px;
            font-size: 16px;
          }
    
          #light-theme:hover  {
            background-color: #74b0ff;
            box-shadow: 0px 0px 10px #74b0ff;
            color: #fff;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
          }


.sortBTN:hover2{
    background-color: rgb(217, 171, 54);
    transform: scale(1.2);
    color: black;
}


.button3:hover {
    background-color: rgb(217, 171, 54);
    transform: scale(1.2);
    color: black;
}

#mark-input-box {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

#grade-input-box {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

.box {
    color: black;
    background-color: rgb(55, 109, 225);
}

.container {
    background-color: rgb(195, 220, 255);
}

#fahrenheit1 {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

#celsius2 {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

#celsius3 {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

#fahrenheit2 {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

#kelvin {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

#celsius1 {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

.loader {
    width: 100%;
    height: 10px;
    background-color: rgb(228, 238, 252);
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .loader:after {
    content: "";
    display: block;
    background-color: rgb(55, 109, 225);
    width: 0%;
    height: 100%;
    animation: loading 10s linear infinite;
    border-radius: 10px;
  }
  
  @keyframes loading {
    0% { width: 0%; }
    100% { width: 100%; }
  }

  
  .hover-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #3498db;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  a.active{
    background-color: rgb(195, 220, 255);
    color: black;
  }

  .sortable-th {
    cursor: pointer;
  }

  .sortable-th:hover {
    background-color: #fff;
  }

  #expand-menu-icon {
    display: none;
  }


  #staff-info {
  display: flex;
}

  table {
    max-width: calc(100vw - 120px);
    display: flex;
    flex: 1;
    overflow-x: auto;
    justify-content: space-around;
    margin-left: 350px;
    border-spacing: 10px 10px;
  }

  td {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }
  
  #mark-to-grade-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
.box {
  display: flex;
  flex-direction: column;
}
.container {
  flex-direction: column;

  padding-top: 20px;
}
.container label,
.container input,
.container button{
  margin: 0;
}

.buttons-container {
  display: flex;
  align-self: center;
  align-items: center;
}
  
@media screen and (min-width: 800px) { 
  main {
    display: flex;
    margin-left: 350px;
    width: calc(100% - 350px);
  }
}

/* smaller screens */
@media screen and (max-width: 1440px) {
  
  table {
    margin-left: 350px;
  }

  .buttons-container {
    margin-left: 350px;
  }


}

@media screen and (max-width: 800px) {

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        background-color: rgb(55, 109, 225);
        z-index: 100;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 20px;
        transition: 0.5s;
        padding-left: 0px;
        border-right: 1px solid rgb(225, 240, 255);
        border-bottom-right-radius: 25px;
      }

      #expand-menu-icon {
        display: block;
        height: 40px;
      }

      #top-nav-group-logo{
        transition: 0.5s;
        transform: translateX(-350px);
      }
            
      .menu a {
        transform: translateX(-350px);
      }

      .menu button {
        display: none;
      }
      
      .menu a:hover {
        background-color: rgb(195, 220, 255);
        color: #333;
      }
      
      .menu:hover {
        width: 350px;
      }
      
      .menu:hover a:first-child {
        border-radius: 0 5px 5px 0;
      }
      
      .menu:hover a:last-child {
        border-radius: 5px 0 0 5px;
      }

      .menu:hover #top-nav-group-logo {
          transform: none;
      }

      .menu:hover #expand-menu-icon {
        transition: 0.5s ease-in;
        transform: translateX(-60px);
      }

      .menu:hover.menu a {
        transform: none;
      }

      .menu:hover button {
        display: block;
      }
      .menu:hover .burger-menu {
        display: none;
      }
      #mark-to-grade-form {
        margin-left: 10%;
      }
      table {
        margin-left: 50px;
        border-spacing: 0;
      }
      .buttons-container {
        margin-left: 50px;
      }

}